@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgb(0,11,255);
    padding: 20px 0;
}
.logo {
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
}
.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    gap: 20px;
}
.menu-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
}
.home-block {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/software-development-specialist.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container {
    margin-left: 100px;
    margin-right: 100px;
}
.title {
    color: #FFFFFF;
    margin-bottom: 20px;
}
.home-block p {
    color: #FFFFFF;
    margin-bottom: 20px;
}
.button {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 10px 45px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.about-block {
    background: rgb(203,65,255);
    background: linear-gradient(277deg, rgba(203,65,255,1) 34%, rgba(0,11,255,1) 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.about-block p {
    color: #FFFFFF;
    margin-bottom: 20px;
}